docs/n8n-workflows/visual-pro.json
{
  "name": "ISABEL - Visual PRO (OpenAI describe)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "visual",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-visual",
      "name": "Webhook Visual",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": "gpt-4o-mini",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "Eres ISA en el módulo Visual. Describe o simplifica texto para quien no ve bien. Español claro, sin resumir en exceso si piden lectura completa."
            },
            {
              "role": "user",
              "content": "={{ $json.data.input || $json.data.text || 'Describe este contenido' }}"
            }
          ]
        }
      },
      "id": "openai-visual",
      "name": "OpenAI ISA",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"output\": {{ JSON.stringify($json.message?.content || $json.data?.input || '') }},\n  \"message\": \"Procesado por n8n + OpenAI\"\n}",
        "options": {}
      },
      "id": "respond-visual",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook Visual": {
      "main": [[{ "node": "OpenAI ISA", "type": "main", "index": 0 }]]
    },
    "OpenAI ISA": {
      "main": [[{ "node": "Responder", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
